body{
    margin:0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.card-complete{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    perspective: 600px;
}

.card-complete .card-front{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #5ac8fa;
    background-image: linear-gradient(to bottom, #5ac8fa , #193947);
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
}

.card-complete .card-front #prof-pic{
    width: 300px;
    height: 300px;
}

.card-complete .card-front #arrow{
    position: absolute;
    top: 90%;
    left: 90%;
    color: #1c1c1e;
    height: 20px ;
    width: 20px ;
}

.card-complete:hover .card-front{
    transform: rotateX(-180deg);
}

.card-complete .card-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1e;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.5s;
}

.card-complete .card-back #logo{
    width: 100px;
    height: 100px;
}

.card-complete:hover .card-back{
    transform: rotateX(0deg);
}

.card-complete .card-back .card-details{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.card-complete .card-back .card-details h2{
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #f7f2f2;
}

.card-complete .card-back .card-details span{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #a7a7a7;
}

.social-icons{
    padding: 10px 0;
}

.social-icons a{
    display: inline-block;
    width: 36px;
    height: 36px;
    text-align: center;
    background: #1c1c1e;
    color: #5ac8fa;
    text-decoration: none;
    border-radius: 50%;
}

.social-icons a .fa{
    line-height: 36px;
}

.social-icons a:hover{
    background: #5ac8fa;
    color: #1c1c1e;
}

